<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <processors>
      <saveUI>
        <processor mode="on" patch:after="processor[@type='Sitecore.Pipelines.Save.Lock, Sitecore.Kernel']"
                   type="Sitecore.Support.Pipelines.Save.CheckRichTextField, Sitecore.Support.153508"/>
      </saveUI>
    </processors>   
  </sitecore>
</configuration>